@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #fff;
  width: 450px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 20px 25px #b3b3b3;
}

textarea {
  display: block;
  width: 100%;
  padding: 20px;
  resize: none;
  color: #202020;
  font-size: 1.1rem;
  outline: none;
  border: 2px solid #a6a6a6;
  border-radius: 10px;
}

textarea:focus {
  border: 2px solid #000000;
}

p {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
